
<form method="post" action="/pizza-orders/<%=@order.id()%>">
  <label for="first-name"> First Name:</label>
  <input id="first-name" type="text" name ="first_name" value="<%=@order.first_name%>"/>

  <label for="last-name"> Last Name:</label>
  <input id="last-name" type="text" name="last_name" value="<%=@order.last_name%>"/>

  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita"
    <%= "selected" if @order.topping == "Margherita"%>>Margherita</option>
    <option value="Buffalo chicken"
    <%= "selected" if @order.topping == "Buffalo chicken"%>>Buffalo chicken</option>
    <option value="Vegetarian"
    <%= "selected" if @order.topping == "Vegetarian"%>>Vegetarian</option>
  </select>

<!-- or write a loop to do this so you dont repeat code 3 times -->

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value="<%=@order.quantity%>"/>

  <input type="submit" value="Update Pizza Order"/>

</form>
